<div ng-include="'components/navbar/navbar.html'"></div>
 
<div class="container main">
	<form ng-submit="search()">
		<label>Where are you?<input type="text" class="form-control" ng-model="input_location"></label>
		<button class="btn btn-primary">Search</button>
	</form>

	<div class="bars">
		<div class="bar" ng-repeat="bar in bars">
			<div>
				<button class="btn btn-primary" title="add me to bar">+</button>
			</div>
			<div>
				<a target="_blank" ng-href="{{bar.url}}">{{ bar.name }}</a>
			</div>
			<div>
				0 Going
			</div>
		</div>
	</div>
</div>